<div class="container">
	<header>
		<h1>Weaver’s Guide to Spellcasting</h1>
		<h4>RI Publishing. The publishers who brought you Kevin’s Guide to Dragons now presents you with this informative
			guide to mastering The Weave.</h4>
	</header>

	<h2>The Process</h2>

	<h3>Thermal Energy Conflux Limit</h3>
	<p>Perhaps the best place to begin is the Thermal Conflux Limit. This rune takes is the one which limits the amount
		of energy pulled from the weave to convert to thermal to make the spell generate enough heat for ignition. The
		Thermal Conflux Limit is denoted by the separators etli <app-rune-glyph runeName="etli"></app-rune-glyph> and ilte <app-rune-glyph runeName="ilte"></app-rune-glyph> respectively. Do not
		confuse	the	two.
		Interpreted between the two is a simple quantity indicator.</p>

	<h3>Applying the Thermal Harness</h3>
	<p>When seeking to harness the power of thermal energy, you must bind the energies with the appropriate shape and size of the harness. A harness must surround the thermal indicator and apply appropriate stretch to allow the necessary expansion but not so much as to simply heat up the air. The Thermal Harness should be an expansion coefficient denoted as a quantity indicator bound by snarb <app-rune-glyph runeName="snarb"></app-rune-glyph> and brans <app-rune-glyph runeName="brans"></app-rune-glyph>. The expansion coefficient should be marked starting with naliti <app-rune-glyph runeName="naliti"></app-rune-glyph> and must be a ratio to the Thermal Energy Conflux Limit of at least .1. For a focused effect of no more than 5’ in diameter, the ratio should be no more than .3 and for larger effects, a ratio of no more than .5 should be used. Ratios above .5 should be reserved for local climate control or apocalyptic effects.</p>

	<h2>Reference</h2>
	<h3>Quantity Indicative Runes</h3>
	<p>Quantity Indicative Runes are functionally additive unless a grater indicator immediately follows, in which case the primary rune is decremental.</p>
	<ul>
		<li>One - esi - <app-rune-glyph runeName="esi"></app-rune-glyph></li>
		<li>Five - eni - <app-rune-glyph runeName="eni"></app-rune-glyph></li>
		<li>Ten - eli - <app-rune-glyph runeName="eli"></app-rune-glyph></li>
		<li>Fifty - eri - <app-rune-glyph runeName="eri"></app-rune-glyph></li>
		<li>Hundred  - exi - <app-rune-glyph runeName="exi"></app-rune-glyph></li>
	</ul>
</div>
<!--Element type, color, shape, distance, arcane siphon, physical attunement, component legend

Later: integrate with user’s location for the time and weather-->
