.container {
  margin: 2rem;
}
header {
  margin-bottom: 1rem;
}
h1 {
  font-size: 150%;
  font-weight: 400;
}
h2 {
  font-size: 125%;
  margin-bottom: .5rem;
}
h3 {
  opacity: 90%;
  margin-bottom: .25rem;
}
h4 {
  font-size: 75%;
  opacity: 50%;
}
p, li {
  font-size: 50%;
  font-weight: 200;
}
