<div class="container">
	<header>
		<h1>Weaver’s Guide to Spellcasting</h1>
		<h4>RI Publishing. The publishers who brought you Kevin’s Guide to Dragons now presents you with this informative
			guide to mastering The Weave.</h4>
	</header>

	<h2>The Process</h2>

	<p>Spells are constructed as strings of runes. Runes can be written in many ways, but perhaps the most easy way is to write their names into the scroll. Your basic training has likely taught you to see them as their glyphs rather than their names.</p>

	<h3>Tapping the Weave: Setting Your First Arcane Siphon</h3>
	<p>The first item necessary to all spell, for no spell can be produced which The Weave does not fuel. Arcane Siphons can become increasingly complex as greater quantities of spell energy require more care to draw. For the purposes of our study, we will begin by drawing 1 dram (The most current theory can support is a draw of 10 drams). To draw a single dram of The Weave, begin with <app-rune-glyph runeName="keso"></app-rune-glyph>. This is the key to beginning an Arcane Siphon. Next, a limiter to ensure you do not overdraft from the siphon. A quantity indicator (<app-rune-glyph runeName="esi"></app-rune-glyph> in our case) surrounded by <app-rune-glyph runeName="horum"></app-rune-glyph> and <app-rune-glyph runeName="muroh"></app-rune-glyph> will suffice for such a simple matter. Next, a direction must be given to the siphon using a directional indicator towards the spell's harness. Finally, seal the siphon with <app-rune-glyph runeName="osek"></app-rune-glyph>.</p>

	<h3>Thermal Energy Conflux Limit</h3>
	<p>Next, let us discuss the Thermal Energy Conflux (TEC) Limit. This rune takes is the one which limits the amount of energy pulled from the weave to convert to thermal to make the spell generate enough heat for ignition. The TEC Limit is denoted by the separators <app-rune-glyph runeName="etli"></app-rune-glyph> and <app-rune-glyph runeName="ilte"></app-rune-glyph> respectively. Do not confuse the two. Interpreted between the two is a simple quantity indicator.</p>

	<h3>Applying the Thermal Harness</h3>
	<p>When seeking to harness the power of thermal energy, you must bind the energies with the appropriate shape and size of the harness. A harness must surround the thermal indicator and apply appropriate stretch to allow the necessary expansion but not so much as to simply heat up the air. The Thermal Harness should be an expansion coefficient denoted as a quantity indicator bound by <app-rune-glyph runeName="snarb"></app-rune-glyph> and <app-rune-glyph runeName="brans"></app-rune-glyph>. The expansion coefficient should be marked starting with <app-rune-glyph runeName="naliti"></app-rune-glyph> and must be a ratio to the Thermal Energy Conflux Limit of at least .1. For a focused effect of no more than 5’ in diameter, the ratio should be no more than .3 and for larger effects, a ratio of no more than .5 should be used. Ratios above .5 should be reserved for local climate control or apocalyptic effects.</p>

	<h2>Reference</h2>
	<h3>Quantity Indicative Runes</h3>
	<p>Quantity Indicative Runes are functionally additive unless a grater indicator immediately follows, in which case the primary rune is decremental.</p>
	<ul>
		<li>One - <app-rune-glyph runeName="esi"></app-rune-glyph></li>
		<li>Five - <app-rune-glyph runeName="eni"></app-rune-glyph></li>
		<li>Ten - <app-rune-glyph runeName="eli"></app-rune-glyph></li>
		<li>Fifty - <app-rune-glyph runeName="eri"></app-rune-glyph></li>
		<li>Hundred  - <app-rune-glyph runeName="exi"></app-rune-glyph></li>
	</ul>
	<h3>Directional Indicative Runes</h3>
	<ul>
		<li>Before - Left -  <app-rune-glyph runeName="pentro"></app-rune-glyph></li>
		<li>After - Right - <app-rune-glyph runeName="asero"></app-rune-glyph></li>
	</ul>
</div>
